name: Deploy

on:
  schedule:
  - cron: "15 17 * * *" # 02:15 JST

jobs:
  deploy:
    runs-on: ubuntu-24.04

    permissions:
      contents: read
      id-token: write

    steps:
    - name: Checkout
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

    - name: Setup Python
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      with:
        python-version: "3.13.7"

    - name: Install required-version defined in pyproject.toml
      uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7.1.4
      with:
        python-version: "3.13.2"
        enable-cache: "true"

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@a03048d87541d1d9fcf2ecf528a4a65ba9bd7838 # v5.0.0
      with:
        aws-region: ap-northeast-1
        role-to-assume: ${{ secrets.AWS_ROLE_ARN }}

    - name: Deploy
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        LATITUDE: ${{ secrets.LATITUDE }}
        LONGITUDE: ${{ secrets.LONGITUDE }}
        CFN_STACK_NAME: ${{ secrets.CFN_STACK_NAME }}
        S3_BUCKET_NAME: ${{ secrets.S3_BUCKET_NAME }}
        SWITCHBOT_API_TOKEN: ${{ secrets.SWITCHBOT_API_TOKEN }}
        SWITCHBOT_API_CLIENT_SECRET: ${{ secrets.SWITCHBOT_API_CLIENT_SECRET }}
        IS_CREATE_LOG_GROUP: ${{ secrets.IS_CREATE_LOG_GROUP }}
        USE_LOCALSTACK: "false"
        TZ: Asia/Tokyo
      run: uv run close_curtain.py
