name: Test

on:
  push:
    branches:
    - main
  pull_request: {}

jobs:
  tests:
    runs-on: ubuntu-24.04

    steps:
    - name: Checkout
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

    - name: Setup Python
      uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
      with:
        python-version: "3.13.7"

    - name: Install required-version defined in pyproject.toml
      uses: astral-sh/setup-uv@5a7eac68fb9809dea845d802897dc5c723910fa3 # v7.1.3
      with:
        python-version: "3.13.2"
        enable-cache: "true"

    - name: Run pytest
      run: uv run pytest .
